body {
    font-family: 'Lao MN', 'Phetsarath OT', sans-serif;
    background-image: url(/My-project/22032018_nc_151.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0%;
    width: 100%;
}

.contact-container { 
    background-color: rgba(42, 54, 54, 0.3);
    backdrop-filter: blur(5px);
    padding: 40px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    width: 900px;
    max-width: 900px;

}

.contact-info h2 {
    color: #000000;
    margin-bottom: 20px;
}

.contact-info p {
    color: #000000;
    line-height: 1.6;
}

.details {
    margin-top: 15px;
    font-size: 15px;
}

.item {
    margin-top: 15px;
    font-size: 15px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group label {
    display: block;
    color: #333;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 12px;
    margin:5px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #fafafa;
    outline: none;
    transition: 0.3s;
}

.input-group textarea {
    width: 100%;
    padding: 12px;
    margin:5px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #fafafa;
    outline: none;
    transition: 0.3s;
}

button {
    background-color: #001aff; 
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #2d3b87;
}